<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQHDdWqSw1lQ3lQa3IOYKnWUXC552ZVBA</string>
	<key>GCM_SENDER_ID</key>
	<string>643468228934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.catfeederFlutterapp</string>
	<key>PROJECT_ID</key>
	<string>catfeederta</string>
	<key>STORAGE_BUCKET</key>
	<string>catfeederta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643468228934:ios:b368ae8e3cb193c1ad4d47</string>
	<key>DATABASE_URL</key>
	<string>https://catfeederta-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>